<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" href="./static/logos/logo-fav.png" type="image/icon type">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a class="active" href="/about">About</a></li>
        <li><a href="/logout">Logout</a></li>
        <div class="logo-image">
            <img src="./static/logos/logo-nb.png" class="img-fluid">
        </div>
    </nav>
    <div class="news">
        <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="161220/"></script>
    </div>
    <div class="main">
        <h1>About Project</h1>
        <label> Welcome to the about page.</label>
        <p>This product uses the NVD API but is not endorsed or certified by the NVD.</p>
    </div>
</body>
</html>