<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="icon" href="./static/logos/logo-fav.png" type="image/icon type">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="logologin">
        <img src="./static/logos/logo-nb.png" alt="Logo">
    </div>
    <div class="login">
        <form method="POST">
            <h2>Edit Profile</h2>
            <label>NAME</label><br>
                <input type="text" name="name" id="name" placeholder="Please enter your name."><br><br>
            <label>EMAIL</label><br>
                <input type="email" name="email" id="email" placeholder="Please enter your email."><br><br>
            <label>COMPANY</label><br>
                <input type="company" name="company" id="company" placeholder="Please enter a company name."><br><br>
            <input type="submit" id="but" value="EDIT USER">
        </form>
    </div>
</body>
</html>