<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" href="./static/logos/logo-fav.png" type="image/icon type">
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <div class="logologin">
            <img src="./static/logos/logo-nb.png" alt="Logo">
        </div>
        <div class="login">
            <form action="/" method="post">
                <h2>LOGIN</h2>
                <label>EMAIL</label><br>
                    <input name="email" type="email" id="email" placeholder="Input your email."><br><br>
                <label>PASSWORD</label><br>
                    <input name="password" type="password" id="password" placeholder="Input your password."><br><br>
                    <input type="submit" id="but" value="LOGIN"><br><br>
            </form>
            <form action="/register">
                    <input type="submit" value="REGISTER" id="but" >
            </form>
        </div>
    </body>          
</html>