<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoring</title>
    <link rel="icon" href="./static/logos/logo-fav.png" type="image/icon type">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="scores">
        <h1>{{id}}</h1>
        <p></p>
        <h2>Description</h2>
        <p>{{summary}}</p>
        <p></p>
        <h3>Link: {{url}}</h3>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th>CVSS 3</th>
                    <th>CVSS 2</th>
                    <th>Exploited</th>
                    <th>Google</th>
                    <th>Snooper Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cvss_score }}</td>
                    <td></td>
                    <td></td>
                    <td>{{google_result}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="logo-pic">
            <img src="./static/logos/logo-nb.png" class="img-fluid">
        </div>
    </div>
</body>
</html>